.i18next-tui-table
  border-bottom: $default-border
  border-top: $default-border
  flex: 1
  height: auto
  overflow-y: auto

  table
    border-collapse: collapse
    width: 100%

    &.filter-empty
      tbody
        tr
          &:not(.empty)
            display: none

    td
      padding: 2px 5px
      width: 20%

      &.empty
        background: $table-empty-bg

    thead
      th
        background: $white
        border-bottom: $default-border
        font-weight: bold
        padding: 5px
        position: sticky
        text-align: left
        text-transform: uppercase
        top: 0

    tbody
      tr

        &:nth-child(odd)
          background: $table-row-bg

        &:hover,
        &.current
          color: darken($text-color, 10%)
          cursor: pointer

        &:hover
          background: darken($table-row-bg, 10%)

        &.current
          background: darken($table-row-bg, 15%)

        &:last-child
          td
            border-bottom: 0

        &.changed
          background: $changed-color

