.i18next-tui-toolbar
  background: $toolbar-bg-color
  display: flex

  .toolbar-item
    flex: none
    padding: 8px 12px

    &:not(:last-child)
      border-right: $default-border

  .namespace-selector,
  .locales,
  .filter-empty
    margin-left: 8px

  .locales
    display: inline-block
