@import './sass/variables'
@import './sass/toolbar'
@import './sass/table'
@import './sass/editor'


.i18next-tui-tool
  color: $text-color
  display: flex
  flex-direction: column
  font-size: 12px
  height: 100vh
